.card {
  width: 200px;
  margin-left: 40px;
  height: 300px;
  object-fit: fill;
}

.btn-style {
    color: white;
    background-color: rgba(228, 157, 19, 0.6) !important;
}

.rss.opacity { filter: opacity(85%); }
