.list-group-item {
  height: 20%;
  margin-left: 20px;
  margin-top: 20px;
  background-image: url("./images/4.png");
}

.featurette-heading {
  margin-top: 25px  !important;
  margin-bottom: 5px  !important;
  font-size: 35px !important;
  font-weight: 250;
  line-height: 1;
  letter-spacing: -0.05rem;
  color: rgba(228, 157, 19, 0.8)
  /* color: #e7d7c0; */
}
