.list-group-item {
  height: 54vh;
  margin-left: 20px;
  margin-top: 40px;
  background-image: url("./images/4.png");
}

.featurette-heading {
  margin-top: 3px;
  font-size: 10;
  font-weight: 250;
  line-height: 1;
  letter-spacing: -0.05rem;
  color: #fefab4;
  /* color: #e7d7c0; */
}
