/* css file for Team Form page */

.formTitle{
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.disclaimerTxt{
    font-size: 15px;
    margin: auto;
    margin-top: 5px;
    width:50%;
}
