/* css file for Team Form page */

.formTitle{
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.bckgrnd{
    background-image: url('./images/bloom4.png');
    object-fit: contain;
}
